<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Home</title>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <%- include ('./partials/header.ejs') %>
    <h2 id="homepageh2">Welcome to Random Financial! Please login to view your portfolio.</h2>
  </body>
</html>
