<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
    <%- include ('./partials/header.ejs') %>
    <title>Home</title>
  </head>
  <body>
    <h2>Login to View Portfolio</h2>
  </body>
</html>
