<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title>Add New User</title>
  </head>
  <header>
    <h1>Killingworth Financial</h1>
  </header>
  <body>
    <h2>Create Account</h2>
    <button type="button" name="back" onclick="location.href='/'">BACK TO HOME</button>
    <form action="/users" method="post">
      <div class="formfield">
        <label for="firstname">First Name: </label>
        <input type="text" name="firstname" required/>
      </div>
      <div class="formfield">
        <label for="middlename">Middle Name: </label>
        <input type="text" name="middlename"/>
      </div>
      <div class="formfield">
        <label for="lastname">Last Name: </label>
        <input type="text" name="lastname" required/>
      </div>
      <div class="formfield">
        <label for="username">Username: </label>
        <input type="text" name="username" required/>
      </div>
      <div class="formfield">
        <label for="password">Password: </label>
        <input type="password" name="password" required/>
      </div>
      <input type="submit" value="SUBMIT">
    </form>
  </body>
</html>
