<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Add New User</title>
    <%- include ('../partials/head.ejs') %>
    <%- include ('../partials/alt_header.ejs') %>
  </head>
  <body>
    <h1 class="login-h1">Create Account</h1>
    <h6 id="signup-required">* required fields</h6>
    <form action="/users" method="post" class="login-signup-container">
        <label for="firstname" class="form-label">First Name<sup>*</sup> </label>
        <input type="text" name="firstname" class="form-control" required/>
        <label for="middlename" class="form-label">Middle Name </label>
        <input type="text" name="middlename" class="form-control"/>
        <label for="lastname" class="form-label">Last Name<sup>*</sup> </label>
        <input type="text" name="lastname" class="form-control" required/>
        <label for="username" class="form-label">Username<sup>*</sup> </label>
        <input type="text" name="username" class="form-control" required/>
        <label for="password" class="form-label">Password<sup>*</sup> </label>
        <input type="password" name="password" class="form-control" required/>
      <input type="submit" value="SUBMIT" class="btn btn-success"  id="signup-submit-btn">
    </form>
  </body>
</html>
